<div class="card" style="width: 20rem;">
    <div class="card-header">
        Player - {{ player.first_name }}
    </div>
    <div class="card-body">
      <p class="card-text">Player details</p>
      <div>
        <div><strong>First Name</strong></div>
        <div>{{ player.first_name }}</div>
      </div>
      <div>
        <div><strong>Last Name</strong></div>
        <div>{{ player.last_name }}</div>
      </div>
      <div>
        <div><strong>Email</strong></div>
        <div>{{ player.email }}</div>
      </div>
      <div>
        <div><strong>Date of birth</strong></div>
        <div>{{ player.date_of_birth }}</div>
      </div>
    </div>
</div>